.idea
.gitlab-ci.yml
.gitignore
service.yml
.git
backend/app/env
backend/app/docker_env
backend/out
backend/storage.json
backend/storage.db
backend/async_storage.db
backend/.env
backend/env
backend/service.yml
backend/service_state_storage.json
backend/app/master/events.py
backend/config.yml
backend/**/__pycache__
backend/.gitignore
backend/docker_env
backend/dynamic_settings.json
backend/.gitlab-ci.yml
backend/.git
backend/.idea
backend/app/tests
frontend/out
frontend/node_modules
frontend/.env
frontend/.git
backend/*.log
Makefile
README.md
game_utils
games
images
