.idea
.gitlab-ci.yml
.gitignore
service.yml
.git
backend/app/env
backend/out
backend/storage.json
backend/storage.db
backend/async_storage.db
backend/.env
backend/env
backend/service.yml
backend/service_state_storage.json
backend/dynamic_settings.json
backend/.gitlab-ci.yml
backend/.git
frontend/out
frontend/node_modules
frontend/.env
frontend/.git
backend/.idea
backend/*.log
